{
  "presets": [
      "env"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],

  ]
}
